.env
.agent
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
unsloth_compiled_cache/
notebook/microsoft-deberta-v3-base-emotion-recognition/
notebook/data/
notebook/vit-emnist-byclass/
temp
notebook/transformer